li {
  list-style: none;
}

.Weather .btn-primary {
  background-color: #5a6aca;
  border: none;
  opacity: 0.9;
}

.Weather .btn-primary:hover {
  background-color: #ffff;
  color: #5a6aca;
  border: 1px solid #5a6aca;
  opacity: 0.9;
}

.Weather .overview {
  margin-bottom: 20px;
}

.Weather .units {
  color: #5c5470;
  text-decoration: none;
}

.Weather .float-left {
  position: relative;
  top: 10px;
}

.Weather {
  background: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  border: 1px solid #5a6aca;
  border-radius: 8px;
  padding: 60px;
}

.Weather .weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.Weather .weather-forecast-date {
  font-size: 18px;
  color: #5c5470;
}

.Weather .weather-forecast-temperature {
  font-size: 15px;
  color: #5c5470;
}
.Weather .weather-forecast-temperature-min {
  opacity: 0.7;
}

.Weather .weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.Weather .weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.Weather .weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.Weather .weather-temperature .active:hover {
  text-decoration: none;
}

.Weather .weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
